@tailwind base;
@tailwind components;
@tailwind utilities;


.scroll-down {
  animation: scroll-down 20s linear infinite;
  gap: 1rem;
}

@keyframes scroll-down {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(calc(100% + 2rem));
  }
}